H1 {
  color: blue;
  font-size: 600%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

P {
  font-size: 100%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  padding-left: 20px;
  background: yellow;
}

body {
    background: red;
   }