<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjIkhuWBg4gh8SgyYXSUKYn23q2luzzfJ_JQ&usqp=CAU" type="image/x-icon">

    <!--/*<link rel="stylesheet" href="style.css">
	<style>@import url("style.css")</style>*/-->

    <title>Library in my own</title>
  </head>
  
  <body>
    <!--NAVBAR-->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Library Store</a>
	  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRM3514giTTn2CJ2ctp7QxY_yF66bEPAbmvaDribtCkbg&usqp=CAU&ec=45682160">
	
	  <!-- Links -->
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <a class="nav-link" href="books">Books</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="genres">Genres</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="authors">Authors</a>
	    </li>
      </ul>
	  
	  <form class="form-inline ml-auto" action="/action_page.php">
	    <input class="form-control mr-sm-2" size="70" type="text" placeholder="Search for books, authors or genres">
	    <button class="btn btn-success" type="submit">Search</button>
	  </form>
	</nav>
	<!--NAVBAR-->
	
	<!--BEST SELLERS-->
	<div class="container text-center font-weight-bold">
		<h2>Best Sellers</h2>
			<div class="row">
			  <div class="col" th:each="book : ${books}">
			  	<a href="books"><img th:src="${book.cover}" class="rounded mx-auto d-block" style="width:183px;height:275px"></a>
			  	<a class="h4" href="books" th:text="${book.title}">Title</a>
			  	<p><a class="h5" href="authors" th:text="${book.author.fullName}">Author</a></p>
			  	<p class="h6"><span th:text="${book.year}">Year</span> год</p>
			  	<p class="h6">жанр: <a class="h6" href="genres" th:text="${book.genre.name}">Genre</a></p>
			  	<p>available</p>
			  	<button type="button" class="btn btn-primary btn-block">Buy</button>
			  </div>
			</div>
		<h2>Get Fresh Books </h2>
			<div class="row">
			  <div class="col" th:each="book : ${books}">
			  	<a href="books"><img th:src="${book.cover}" class="rounded mx-auto d-block" style="width:183px;height:275px"></a>
			  	<a class="h4" href="books" th:text="${book.title}">Title</a>
			  	<p><a class="h5" href="authors" th:text="${book.author.fullName}">Author</a></p>
			  	<p class="h6"><span th:text="${book.year}">Year</span> год</p>
			  	<p class="h6">жанр: <a class="h6" href="genres" th:text="${book.genre.name}">Genre</a></p>
			  	<p>available</p>
			  	<button type="button" class="btn btn-success btn-block">GET</button>
			  </div>
			</div>
		<h2>We Have</h2>
			<div class="row">
			  <div class="col">
			  	<p>books</p>
			  	<p>1000</p>
			  </div>
			  <div class="col">
			  	<p>authors</p>
			  	<p>100</p>
			  </div>
			  <div class="col">
			  	<p>genres</p>
			  	<p>100</p>
			  </div>
			</div>
	</div>	
			
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>